* {

    margin: 0;
}


.content {
    max-width: 1440px;
    margin: 0 auto;
}

@font-face {
    font-family: 'TT Wellingtons Black Italic';
    src: url('/fonts/tt-wellingtons/TT Wellingtons DemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Wellingtons DemiBold';
    src: url('/fonts/tt-wellingtons/TT Wellingtons DemiBold.otf') format('opentype');
    font-weight: 600; /* или normal, demiBold обычно соответствует weight: 600 */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT';
    src: url('/fonts/avenirlt_roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('/fonts/abhaya-libre.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tank Bold';
    src: url('/fonts/tank-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

.

@font-face {
    font-family: 'Tank Medium';
    src: url('/fonts/tank-medium.woff2') format('woff2');
    font-weight: 500; /
font-style: normal;
}

@font-face {
    font-family: 'Tank';
    src: url('/fonts/tank-regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

.header {
    max-height: 100px;
    margin: 15px auto 0px;


}

.header__content {
    display: flex;
    justify-content: space-between;
    color: #FEFEFE;
}

body {
    background-color: #121214;
    color: #fff;
    font-family: 'Avenir LT', Arial, sans-serif;
}

img {
    max-width: 100%;
}


.color-orange {
    padding: 5px;
    background-color: #F68E57;
    border-radius: 5px;
    margin: auto;

}

a {
    text-decoration: none;
    color: inherit;

}

a:hover {
    color: #F68E57;
}

.hover-active {
    color: #F68E57;
}


.color-orange:hover {
    background-color: #93589D;
    color: #fff;
}

.logo-left {
    margin-left: 91px;
    display: flex;
    gap: 22px;
}

.logo-center {
    height: 45px;
}

.logo-main {
    margin-top: 16px;
}

.logo-reward {
    padding-top: 5px;
}

.header__content-item-child {

    font-size: 14px;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4px 0 5px 0;
    gap: 27px;

}

.header__contact-item {
    display: flex;
    column-gap: 9px;
    padding-bottom: 9px;
}

.header__contact-item img {
    height: 100%;
    max-height: 17px;
}

.header__contact-item:nth-child(2):hover {
    transition: opacity 0.3s ease;
    filter: brightness(0) saturate(100%) invert(80%) sepia(7%) saturate(6402%) hue-rotate(317deg) brightness(94%) contrast(106%);
}

.header__contact {
    font-size: 12px;
    margin: 6px 87px 0 0;
    font-weight: 300;
}

.header__number {
    font-size: 13px;
}

.h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 56px;
    font-family: "Tank";


}

.credit-card__content-item {
    padding: 43px 0 0 90px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    width: 100%;

}

.credit-card__content-top {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
}

.credit-card__content-item__title {
    font-size: 24px;
    font-weight: 500;
}

.credit-card__content-item__description-text {
    font-size: 18px;
    font-weight: 500;
}

.wrap {
    line-height: 145%;
}

.credit-card__content-item__description {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 13px;
}

.credit-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.credit-terms {
    display: grid;
    grid-template-columns: repeat(3, 85px 172px 152px);
    padding-left: 17px;
    max-width: 448px;
    gap: 20px;
    padding-bottom: 8px;
    grid-template-rows: 96px;
}

.step__icon {
    display: flex;
    justify-content: center;
    padding-right: 9px;
}

.credit-programs {
    margin: 100px 45px 0 50px;
    display: flex;
    flex-direction: column;
}

.credit {
    margin: 112px 45px 0 50px;
}

.button {
    padding: 11px 47px;
    border-radius: 7px;
    font-size: 14px;
}

.hero {
    background-image: url('/upload/banner.jpeg');
    width: 100%;
    height: 584px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.hero__item {
    padding: 102px 122px;
    display: flex;
    flex-direction: column;
    gap: 38px;
    max-height: 250px;
    max-width: 388px;
}

.hero__title {
    font-size: 32px;
    font-weight: 500;
}

.hero__description {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
}


.decor {
    background-color: #F68E57;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 12px;
    display: flex;
    justify-content: center;
}

.decor::after {
    content: '';
    display: block;
    width: 120px; /* Ширина оранжевой полосы */
    height: 12px;
    background-color: #F68E57;
}

.credit-card {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 432px;
    background: linear-gradient(90deg, #000 0%, #202525 100%);
    border-radius: 15px;
    display: flex;
    flex: 1;
}


.credit-terms__content {
    display: flex;
    flex-direction: column;
    gap: 28px;
    font-size: 14px;
    font-weight: 500;
    text-align: start;
    line-height: 18px;
    position: relative;
}

.credit-terms__content::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 64px;
    background-color: #fff;
}

.credit-terms__content:last-child::before {
    display: none;
}

.border {
    border-right: 2px solid #fff;
    height: 64px;
}

.step {
    display: flex;
    flex-direction: column;

}

.step__text {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 19px;
    text-align: center;
    max-width: 366px;
    line-height: 150%;
    font-family: "Tank bold";


}


.credit-card__content {
    display: flex;
    justify-content: space-around;
    margin: 33px 76px;
    max-height: 100%;

}

.credit-card__content-image {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 440px;
    max-height: 100%;
    padding-top: 53px;
}

.footer {
    margin-top: 110px;
    padding-top: 57px;
    background-color: #222;
    padding-bottom: 55px;
    width: 100%;
}

.footer__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.footer-social {
    grid-column: span 4;
}

.footer-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.footer__left {
    padding-left: 121px;
}

.footer__logos {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer__info {
    margin-top: 28px;
    display: flex;
    gap: 17px;
    flex-direction: column;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 7px;

}

.footer-right {
    display: grid;
    padding-right: 115px;

}

.footer-right__menu {
    display: flex;
    padding-right: 66px;
    gap: 34px;

}

.row {
    padding-right: 33px;
}


.fw-600 {
    font-weight: 600;
    font-family: TT Wellingtons DemiBold;
}

.footer-social-link {
    display: flex;
    gap: 19px;
    padding-top: 39px;
}

.column {
    gap: 8px;
}


.credit-card__content-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.credit-terms__value {
    font-size: 20px;
    color: #F68E57;
    margin-left: -17px;
    line-height: 125%;

}

.center {
    text-align: center;
}

.logo-mobile {
    display: none;
}

.header__contact-item-mob {
    display: none;
}

.button-mob {
    display: none;
}

.footer-social-link-mob {
    display: none;
}

@media (max-width: 1170px) {
    .credit-card__content-item__title {
        font-size: 20px;
    }

    .credit-card__content-item__description-text {
        font-size: 16px;
    }

    .credit-terms__value {
        font-size: 18px;
        margin-left: 0;
    }

    .credit-card__content-image img {
        max-width: 300px;
        padding: 10% 0;
    }
}

@media (max-width: 1024px) {
    .hero__item {
        padding: 102px 30px;;
    }

    .credit-card__content {
        flex-direction: column;
        align-items: center;

    }

    .credit-card__content-item {
        align-items: center;
        text-align: center;
        padding: 0;
        max-height: none;
    }

    .step {
        align-items: center;

    }

    .credit-item {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }


    .footer-right {
        padding: 0 15px;
    }

    .footer-right__menu {
        padding: 0;
        gap: 10px;
    }

    .row {
        padding: 0;
    }

    .footer__left {
        padding: 0 15px;
    }

    .credit-card__content-image img {
        padding: 0;
    }

    .credit-card__content-image {
        padding: 0;
        max-width: 80%
    }

    .credit-card {
        min-height: auto;
        height: auto;
        overflow: auto;
    }

    .logo-left {
        margin-left: 20px;
    }

    .header__contact {
        margin-right: 20px;
    }
}


@media (max-width: 850px) {
    .header__content-item-child {
        gap: 13px;
    }
}

@media (max-width: 768px) {
    .logo-main {
        display: none;
    }

    .logo-reward {
        display: none;
    }

    .logo-center {
        display: none;
    }

    .header__content-item-child {
        display: none;
    }

    .header__contact-item {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .header__contact-item-mob {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        flex-direction: row-reverse;
        margin: -3px -7px 8px;
    }

    .header {
        margin: 16px auto 0px;
    }

    .logo-left {
        margin-left: 13px;
    }

    .hero__title {
        font-size: 30px;
    }

    .hero__description {
        font-size: 18px;
    }

    .h2 {
        font-size: 28px;
        margin-bottom: 35px;
    }

    .step__text {
        font-size: 14px;
    }

    .credit-programs {
        margin: 35px auto;
    }


}

@media (max-width: 500px) {
    .credit-terms {
        grid-template-rows: repeat(2, 0.5fr);
        grid-template-columns: none;
        text-align: center;
        padding-top: 20px;
        padding: 10px;
        width: 370px;
    }

    .credit-terms__content {
        flex-direction: row;
        text-align: start;
    }

    .credit-terms__content::before {

    }

    .button-mob {
        display: block;
    }

    .credit-button {
        padding: 20px;
    }


    .credit-card__content-item {
        gap: 10px;
    }

    .credit-card__content {
        margin: 10px;
    }

    .credit-terms__value {
        display: flex;
        gap: 10px;
    }

    .credit-terms__content:last-child::before {
        display: block;

    }

    .credit-terms__content::before {
        position: relative;
        width: 2px;
        height: 32px;
    }

    .credit-card__content-top {
        gap: 30px;
    }

    .footer-right__menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    .footer-right {
        padding: 0;
    }

    .footer-right > div:nth-child(3) {
        grid-column: span 2;
    }

    .footer-social-link-mob {
        display: flex;
        gap: 19px;
        padding-top: 20px;

    }

    .footer-social-link {
        display: none;
    }

    .footer-social-link-mob img {
        height: 20px;
    }

    .credit {
        margin-top: 35px;
    }
    .credit-terms {
        width: 100%;
    }

    .footer__nav-list {
        padding-right: 10px;
    }

}
