



































.footer-social-link-mob {
    display: none;
}

@media (max-width: 1170px) {
    .credit-card__content-item__title {
        font-size: 20px;
    }

    .credit-card__content-item__description-text {
        font-size: 16px;
    }

    .credit-terms__value {
        font-size: 18px;
        margin-left: 0;
    }

    .credit-card__content-image img {
        max-width: 300px;
        padding: 10% 0;
    }

    .credit-card__content {
        margin: 33px 50px;
    }
}

@media (max-width: 1024px) {
    .hero__item {
        padding: 102px 30px;;
    }

    .credit-card__content {
        flex-direction: column;
        align-items: center;
    }

    .credit-card__content-item {
        align-items: center;
        text-align: center;
        padding: 0;
        max-height: none;
    }

    .step {
        align-items: center;
    }

    .credit-item {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }


    .footer-right {
        padding: 0 15px;
    }

    .footer-right__menu {
        padding: 0;
        gap: 10px;
    }

    .row {
        padding: 0;
    }

    .footer__left {
        padding: 0 15px;
    }

    .credit-card__content-image img {
        padding: 0;
    }

    .credit-card__content-image {
        padding: 0;
        max-width: 80%
    }

    .credit-card {
        min-height: auto;
        height: auto;
        overflow: auto;
    }

    .logo-left {
        margin-left: 20px;
    }

    .header__contact {
        margin-right: 20px;
    }

    .breadcrumbs {
        padding-left: 30px;
    }
}


@media (max-width: 850px) {
    .header__content-item-child {
        gap: 13px;
    }
}

@media (max-width: 768px) {
    .logo-main {
        display: none;
    }

    .logo-reward {
        display: none;
    }

    .logo-center {
        display: none;
    }

    .header__content-item-child {
        display: none;
    }

    .header__contact-item {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .header__contact-item-mob {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        flex-direction: row-reverse;
        margin: -3px -7px 8px;
    }

    .header {
        margin: 16px auto 0px;
    }

    .logo-left {
        margin-left: 13px;
    }

    .hero__title {
        font-size: 30px;
    }

    .hero__description {
        font-size: 18px;
    }

    .h2 {
        font-size: 28px;
        margin-bottom: 35px;
    }

    .step__text {
        font-size: 14px;
        max-width: 100%;
    }

    .credit-programs {
        margin: 35px auto;
    }

    .credit-terms {
        padding: 0px;
        margin: auto;
        grid-template-columns: auto auto auto;
    }

    .credit-terms__content::before {
        content: '';
        position: absolute;
        right: -10px;
        top: 0;
        width: 2px;
        height: 34px;
        background-color: #fff;
    }

    .credit .h2 {
        margin-bottom: 35px;
    }

    .credit {
        margin: 35px 10px 0 10px;

    }

    .footer {
        margin-top: 35px;
    }
}

@media (max-width: 500px) {
    .credit-terms {
        grid-template-rows: repeat(2, 0.5fr);
        grid-template-columns: none;
        text-align: center;
        padding-top: 20px;
        padding: 10px;
        width: 370px;
    }

    .credit-terms__content {
        flex-direction: row;
        text-align: start;
    }

    .button-mob {
        display: block;
    }

    .credit-button {
        padding: 20px;
    }

    .credit-card__content-item {
        gap: 10px;
    }

    .credit-card__content {
        margin: 10px;
    }

    .credit-terms__value {
        display: flex;
        gap: 10px;
    }

    .credit-terms__content:last-child::before {
        display: block;

    }

    .credit-terms__content::before {
        position: relative;
        width: 2px;
        height: 32px;
    }

    .credit-card__content-top {
        gap: 30px;
    }


    .footer-right {
        padding: 0;
    }

    .footer-right__menu {
        flex-direction: column;
        gap: 20px;
    }


    .footer-right > div:nth-child(3) {
        grid-column: span 2;
    }

    .footer-social-link-mob {
        display: flex;
        gap: 19px;
        padding-top: 20px;
    }

    .footer-social-link {
        display: none;
    }

    .footer-social-link-mob img {
        height: 20px;
    }

    .credit {
        margin-top: 35px;
    }

    .credit-terms {
        width: 100%;
        grid-template-columns: max-content;
        padding: 0;
    }

    .footer__nav-list {
        padding-right: 10px;
    }

    .button {
        padding: 10px;
    }


}

@media (max-width: 390px) {
    . .footer {
        padding-top: 30px;
    }

    .footer__content {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .footer-right__menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        padding: 15px
    }

    .footer {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .footer__info {
        flex-direction: row;
    }

    .footer__info {
        margin-top: 10px;
    }

}

}
